<!DOCTYPE html>
<html class="h-100" data-bs-theme="auto" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Barata Ribeiro" name="author" />
        <meta
            content="MediCore is a personal health and fitness center that holds your most personal and important health data."
            name="description" />
        <meta content="MediCore, health, fitness, personal, data" name="keywords" />
        <title>MediCore</title>
        <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />
        <link rel="stylesheet" th:href="${@urlProvider.getVersionedUrl('/css/bootstrap.min.css')}" type="text/css" />
        <link rel="stylesheet" th:href="${@urlProvider.getVersionedUrl('/css/styles.css')}" type="text/css" />

        <script th:src="${@urlProvider.getVersionedUrl('/js/jquery.min.js')}" type="text/javascript"></script>
        <script th:src="${@urlProvider.getVersionedUrl('/js/popper.min.js')}" type="text/javascript"></script>
        <script th:src="${@urlProvider.getVersionedUrl('/js/bootstrap.min.js')}" type="text/javascript"></script>
    </head>
    <body class="container d-flex flex-column h-100">
        <th:block th:replace="~{fragments/theme-switcher :: theme-switcher}"></th:block>

        <th:block th:replace="~{fragments/header :: main-header}"></th:block>

        <th:block layout:fragment="content"></th:block>

        <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    </body>
</html>
