<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/auth_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${pageTitle + ' - MediCore'}">MediCore</title>
        <meta name="description" th:content="${pageDescription}" />
        <script th:src="${@urlProvider.getVersionedUrl('/js/chart.umd.min.js')}" type="text/javascript"></script>
        <script th:src="${@urlProvider.getVersionedUrl('/js/jspdf.umd.min.js')}" type="text/javascript"></script>
        <script type="text/javascript">window.jsPDF = window.jspdf.jsPDF</script>
    </head>
    <body layout:fragment="content">
        <th:block th:replace="~{fragments/medical-file-header :: medical-file-header}"></th:block>

        <main class="container mx-auto my-2 row g-2">
            <th:block
                th:with="breadcrumbs=${breadcrumbHelper.buildBreadcrumbs(userBaseUrl, 'medical-history', 'Medical History', 'lipid-profile', 'Lipid Profile')}">
                <th:block
                    th:replace="~{fragments/breadcrumb-navigation :: breadcrumb-navigation(breadcrumbItems=${breadcrumbs})}"></th:block>
            </th:block>

            <section aria-labelledby="lipid-profile-chart-title" class="card w-100 h-100">
                <div class="card-header"
                     id="lipid-profile-chart-title">
                    <h2 class="card-title">Chart</h2>
                    <!--                    <button aria-label="Print Chart Image" class="btn btn-success text-light" id="printChartBtn"-->
                    <!--                            type="button">-->
                    <!--                        <i aria-hidden="true" class="bi bi-image-fill"></i>-->
                    <!--                    </button>-->
                </div>
                <div class="card-body bg-dark-subtle m-0 chart-card">
                    <div class="chart-container">
                        <canvas aria-label="Lipid Profile Canvas" class="bg-light-subtle rounded shadow-sm"
                                id="lipidChart" role="img">Your browser does not support the canvas element.
                        </canvas>
                    </div>
                </div>
            </section>

            <section class="card w-100 h-100" id="lipid-profile-table-title">
                <div class="card-header d-sm-flex justify-content-between align-items-center">
                    <h2 class="card-title">Lipid Profile Table</h2>
                    <div class="d-flex align-items-center gap-2">
                        <a aria-label="Add new Lipid Profile" class="btn btn-primary text-light"
                           th:href="@{${userBaseUrl + '/medical-history/lipid-profile/add'}}"
                           title="Add new Lipid Profile">
                            <i aria-hidden="true" class="bi bi-plus-lg"></i>
                        </a>

                        <button aria-label="Print Table" class="btn btn-success text-light"
                                th:disabled="${lipidProfiles.isEmpty()}" title="Print Table" type="button">
                            <i aria-hidden="true" class="bi bi-printer-fill"></i>
                        </button>
                    </div>
                </div>

                <div class="card-body overflow-x-auto">
                    <table class="table table-striped table-hover table-responsive-md">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Total Cholesterol</th>
                                <th scope="col">Triglycerides</th>
                                <th scope="col">HDL</th>
                                <th scope="col">LDL</th>
                                <th scope="col">VLDL</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="lipidProfile : ${lipidProfiles}">
                                <td>
                                    <time class="d-md-block d-none" th:datetime="${lipidProfile.reportDate}"
                                          th:text="${#dates.format(lipidProfile.reportDate, 'MMMM dd, YYYY')}"></time>
                                    <time class="d-md-none d-block" th:datetime="${lipidProfile.reportDate}"
                                          th:text="${#dates.format(lipidProfile.reportDate, 'MM/YY')}"></time>
                                </td>
                                <td th:text="${lipidProfile.totalCholesterol}"></td>
                                <td th:text="${lipidProfile.triglycerides}"></td>
                                <td th:text="${lipidProfile.hdlCholesterol}"></td>
                                <td th:text="${lipidProfile.ldlCholesterol}"></td>
                                <td th:text="${lipidProfile.vldlCholesterol}"></td>
                                <td class="d-flex align-items-center gap-1">
                                    <form
                                        th:action="@{${userBaseUrl} + '/medical-history/lipid-profile/' + ${lipidProfile.id} + '/delete'}"
                                        th:method="delete">
                                        <button aria-label="Delete Lipid Profile" class="btn text-danger"
                                                title="Delete Lipid Profile" type="submit">
                                            <i class="bi bi-trash-fill"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <th:block
                        th:replace="~{fragments/pagination-navigation :: pagination-navigation}"></th:block>
                </div>
            </section>
        </main>

        <script th:inline="javascript" type="text/javascript">
            $(function() {
                // CHART
                const chartData = JSON.parse(/*[[${lipidChart}]]*/ {})
                const canvas = $('#lipidChart')
                console.log(chartData)

                const backGroundPlugin = {
                    id: 'customCanvasBackgroundColor',
                    beforeDraw: (chart, args, options) => {
                        const {ctx} = chart
                        ctx.save()
                        ctx.globalCompositeOperation = 'destination-over'
                        ctx.fillStyle = options.color ?? '#ffffff'
                        ctx.fillRect(0, 0, chart.width, chart.height)
                        ctx.restore()
                    }
                }

                if (!chartData.options.plugins) chartData.options.plugins = {}
                chartData.options.plugins.customCanvasBackgroundColor = {
                    color: '#ffffff'
                }

                if (!chartData.plugins) chartData.plugins = []
                chartData.plugins.push(backGroundPlugin)

                const chart = new Chart(canvas, chartData)

                $('#printChartBtn').on('click', function() {
                    // const tempCanvas = document.createElement('canvas')
                    // tempCanvas.width = canvas.width()
                    // tempCanvas.height = canvas.height()
                    //
                    // const tempCtx = tempCanvas.getContext('2d')
                    // tempCtx.fillStyle = '#ffffff'
                    // tempCtx.fillRect(0, 0, tempCanvas.width, tempCanvas.height)
                    // tempCtx.drawImage(canvas[0], 0, 0, tempCanvas.width, tempCanvas.height)
                    //
                    // const imgData = tempCanvas.toDataURL('image/jpg', 1.0)

                    const doc = new jsPDF()
                    const docWidth = doc.internal.pageSize.getWidth()
                    const docHeight = doc.internal.pageSize.getHeight()
                    doc.setFontSize(18)
                    doc.text('Lipid Profile', docWidth / 2, 10, {align: 'center'})
                    // doc.addImage(imgData, 'JPG', (docWidth / docHeight) / 2, 20, canvas.width() / 5,
                    //              canvas.height() / 5, 'NONE')
                    doc.save('lipid-profile-chart.pdf')
                })
            })
        </script>
    </body>
</html>