<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/auth_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${pageTitle + ' - MediCore'}">MediCore</title>
        <meta name="description" th:content="${pageDescription}" />
        <script th:src="${@urlProvider.getVersionedUrl('/js/chart.umd.min.js')}" type="text/javascript"></script>
        <script th:src="${@urlProvider.getVersionedUrl('/js/jspdf.umd.min.js')}" type="text/javascript"></script>
        <script th:src="${@urlProvider.getVersionedUrl('/js/jspdf.plugin.autotable.min.js')}"
                type="text/javascript"></script>
        <script type="text/javascript">window.jsPDF = window.jspdf.jsPDF</script>
    </head>
    <body layout:fragment="content">
        <th:block th:replace="~{fragments/medical-file-header :: medical-file-header}"></th:block>

        <main class="container mx-auto my-2 row g-2">
            <th:block
                th:with="breadcrumbs=${breadcrumbHelper.buildBreadcrumbs(userBaseUrl, 'medical-history', 'Medical History', 'lipid-profile', 'Lipid Profile')}">
                <th:block
                    th:replace="~{fragments/breadcrumb-navigation :: breadcrumb-navigation(breadcrumbItems=${breadcrumbs})}"></th:block>
            </th:block>

            <section aria-labelledby="lipid-profile-chart-title" class="card p-0 w-100 h-100">
                <div class="card-body bg-dark-subtle m-0 chart-card">
                    <div class="chart-container">
                        <canvas aria-label="Lipid Profile Canvas" class="bg-light-subtle rounded shadow-sm"
                                id="lipidChart" role="img">Your browser does not support the canvas element.
                        </canvas>
                    </div>
                </div>
            </section>

            <section class="card p-0 w-100 h-100" id="lipid-profile-table-title">
                <div class="card-header d-sm-flex justify-content-between align-items-center">
                    <h2 class="card-title">Lipid Profile Table</h2>
                    <div class="d-flex align-items-center gap-2">
                        <a aria-label="Add new Lipid Profile" class="btn btn-primary text-light"
                           th:href="@{${userBaseUrl + '/medical-history/lipid-profile/add'}}"
                           title="Add new Lipid Profile">
                            <i aria-hidden="true" class="bi bi-plus-lg"></i>
                        </a>

                        <button aria-label="Print Table" class="btn btn-success text-light" id="printTableBtn"
                                th:disabled="${lipidProfiles.isEmpty()}" title="Print Table" type="button">
                            <i aria-hidden="true" class="bi bi-printer-fill"></i>
                        </button>
                    </div>
                </div>

                <div class="card-body overflow-x-auto">
                    <table class="table table-hover table-responsive-md">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Total Cholesterol</th>
                                <th scope="col">Triglycerides</th>
                                <th scope="col">HDL</th>
                                <th scope="col">LDL</th>
                                <th scope="col">VLDL</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="lipidProfile : ${lipidProfiles}">
                                <td>
                                    <time class="d-md-block d-none" th:datetime="${lipidProfile.reportDate}"
                                          th:text="${#dates.format(lipidProfile.reportDate, 'MMMM dd, YYYY')}"></time>
                                    <time class="d-md-none d-block" th:datetime="${lipidProfile.reportDate}"
                                          th:text="${#dates.format(lipidProfile.reportDate, 'MM/YY')}"></time>
                                </td>
                                <td th:text="${lipidProfile.totalCholesterol}"></td>
                                <td th:text="${lipidProfile.triglycerides}"></td>
                                <td th:text="${lipidProfile.hdlCholesterol}"></td>
                                <td th:text="${lipidProfile.ldlCholesterol}"></td>
                                <td th:text="${lipidProfile.vldlCholesterol}"></td>
                                <td>
                                    <div class="btn-group">
                                        <a aria-expanded="false" class="text-secondary" data-bs-toggle="dropdown"
                                           href="#"
                                           role="button" type="button">
                                            <i class="bi bi-three-dots m-0"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li>
                                                <form
                                                    th:action="@{${userBaseUrl} + '/medical-history/lipid-profile/' + ${lipidProfile.id} + '/delete'}"
                                                    th:method="delete">
                                                    <button aria-label="Delete Lipid Profile"
                                                            class="btn text-danger dropdown-item"
                                                            type="submit">
                                                        Delete
                                                    </button>
                                                </form>
                                            </li>
                                            <li>
                                                <a aria-label="Edit Lipid Profile"
                                                   class="dropdown-item btn text-primary"
                                                   th:href="@{${userBaseUrl} + '/medical-history/lipid-profile/' + ${lipidProfile.id} + '/edit'}">
                                                    Edit
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <th:block
                        th:replace="~{fragments/pagination-navigation :: pagination-navigation}"></th:block>
                </div>
            </section>
        </main>

        <script th:inline="javascript" type="text/javascript">
            $(function() {
                // CHART
                const chartData = JSON.parse(/*[[${lipidChart}]]*/ {})
                const canvas = $('#lipidChart')
                const backGroundPlugin = {
                    id: 'customCanvasBackgroundColor',
                    beforeDraw: (chart, args, options) => {
                        const {ctx} = chart
                        ctx.save()
                        ctx.globalCompositeOperation = 'destination-over'
                        ctx.fillStyle = options.color ?? '#ffffff'
                        ctx.fillRect(0, 0, chart.width, chart.height)
                        ctx.restore()
                    }
                }

                if (!chartData.options.plugins) chartData.options.plugins = {}
                chartData.options.plugins.customCanvasBackgroundColor = {color: '#ffffff'}
                chartData.options.plugins.tooltip = {mode: 'index', intersect: false}
                chartData.options.plugins.title = {display: true, text: 'Lipid Profile Chart'}
                chartData.options.plugins.hover = {mode: 'index', intersect: false}

                if (!chartData.plugins) chartData.plugins = []
                chartData.plugins.push(backGroundPlugin)

                const chart = new Chart(canvas, chartData)

                $('#printTableBtn').on('click', function() {
                    const lipidProfiles = /*[[${lipidProfiles}]]*/ {}
                    const doc = new jsPDF()

                    // Define page size
                    const docWidth = doc.internal.pageSize.getWidth()
                    const docHeight = doc.internal.pageSize.getHeight()
                    doc.setFontSize(18)

                    // Title
                    doc.text('Lipid Profile', docWidth / 2, 10, {align: 'center'})

                    // Table
                    autoTable(doc, {
                        theme: 'striped',
                        head: [ [ 'Date', 'Total Cholesterol', 'HDL Cholesterol', 'LDL Cholesterol',
                                  'VLDL Cholesterol',
                                  'Triglycerides' ] ],
                        body: lipidProfiles.map(profile => [
                            new Date(profile.reportDate).toLocaleDateString('en-US', {
                                month: 'short',
                                day: 'numeric',
                                year: 'numeric'
                            }),
                            profile.totalCholesterol,
                            profile.hdlCholesterol,
                            profile.ldlCholesterol,
                            profile.vldlCholesterol,
                            profile.triglycerides
                        ])
                    })

                    doc.save('lipid-profile-chart.pdf')
                })
            })
        </script>
    </body>
</html>