<!-- src/main/resources/templates/fragments/footer.html -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="footer">
        <footer class="py-3 my-4 mt-auto">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item">
                    <a class="nav-link px-2 text-body-secondary" href="/">Home</a>
                </li>
            </ul>
            <p class="text-center text-body-secondary">
                &copy; [[${#dates.format(#dates.createNow(), 'yyyy')}]] MediCore. All rights reserved.
            </p>
        </footer>
    </th:block>
</html>