<!-- src/main/resources/templates/fragments/sidebar.html -->
<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <body>
        <div class="border-end bg-light-subtle" id="sidebar-wrapper" th:fragment="sidebar">
            <h1 class="display-6 ps-3 py-1 border-bottom bg-dark-subtle">MediCore</h1>

            <div class="list-group list-group-flush">
                <a aria-current="page"
                   class="list-group-item list-group-item-action d-flex list-group-item-light p-3"
                   th:classappend="${servletPath == userBaseUrl ? 'active' : ''}"
                   th:href="${'/' + #authentication.principal.username}">
                    <i aria-hidden="true" class="bi bi-speedometer me-1"></i>Dashboard</a>

                <a aria-current="page"
                   class="list-group-item list-group-item-action d-flex list-group-item-light p-3"
                   th:classappend="${servletPath == (userBaseUrl + '/profile') ? 'active' : ''}"
                   th:href="${userBaseUrl + '/profile'}">
                    <i aria-hidden="true"></i><i class="bi bi-person-lines-fill me-1"></i>Profile</a>

                <!-- OPEN/CLOSE SUBMENU -->
                <a aria-controls="medicalFile"
                   aria-expanded="false"
                   class="list-group-item list-group-item-action d-flex justify-content-between list-group-item-light p-3"
                   data-bs-toggle="collapse" href="#medicalFile"
                   role="button">
                        <span class="d-flex">
                            <i aria-hidden="true" class="bi bi-file-medical-fill me-1"></i>Medical File</span>
                    <i aria-hidden="true" class="bi bi-chevron-down ms-1"></i>
                </a>

                <!-- SUBMENU -->
                <div class="collapse" id="medicalFile">
                    <a class="list-group-item list-group-item-action list-group-item p-2 border-start-0 border-end-0"
                       href="#!">
                        Sub Item 1
                    </a>
                    <a class="list-group-item list-group-item-action list-group-item p-2 border-start-0 border-end-0"
                       href="#!">
                        Sub Item 2
                    </a>
                    <a class="list-group-item list-group-item-action list-group-item p-2 border-start-0 border-end-0"
                       href="#!">
                        Sub Item 3
                    </a>
                </div>

                <!-- OPEN/CLOSE SUBMENU 2 -->
                <a aria-controls="fitnessInfo"
                   aria-expanded="false"
                   class="list-group-item list-group-item-action d-flex justify-content-between list-group-item-light p-3 disabled"
                   data-bs-toggle="collapse" href="#fitnessInfo"
                   role="button">
                        <span class="d-flex">
                            <i aria-hidden="true" class="bi bi-heart-pulse-fill me-1"></i>Fitness</span>
                    <i aria-hidden="true" class="bi bi-chevron-down ms-1"></i>
                </a>

                <!-- SUBMENU 2 -->
                <div class="collapse" id="fitnessInfo">
                    <a class="list-group-item list-group-item-action list-group-item p-2 border-start-0 border-end-0"
                       href="#!">
                        Sub Item 1
                    </a>
                </div>

                <a aria-current="page"
                   class="list-group-item list-group-item-action d-flex list-group-item-light p-3"
                   href="#!"><i aria-hidden="true"></i> Item 5</a>

                <a aria-current="page"
                   class="list-group-item list-group-item-action d-flex list-group-item-light p-3"
                   href="#!"><i aria-hidden="true"></i> item 6</a>
            </div>
        </div>
    </body>
</html>