<!-- src/main/resources/templates/fragments/forms/new-glucose-level-profile-form.html -->
<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <form class="card-body" th:action="@{${userBaseUrl} + '/medical-history/glucose-level/add'}"
              th:fragment="new-glucose-level-profile-form" th:method="post" th:object="${newGlucoseDto}">

            <div class="mb-3">
                <label class="form-label" for="glucoseLevel">Total Cholesterol</label>
                <div class="input-group has-validation">
                    <span class="input-group-text">mg/dL</span>
                    <input aria-label="Glucose Level" aria-labelledby="glucoseLevelValidation"
                           aria-required="true" class="form-control" id="glucoseLevel" min="0"
                           placeholder="e.g. 87" required th:errorclass="is-invalid"
                           th:field="${newGlucoseDto.glucoseLevel}"
                           type="number">
                    <p class="invalid-feedback" id="glucoseLevelValidation"
                       th:errors="${newGlucoseDto.glucoseLevel}"
                       th:if="${#fields.hasErrors('glucoseLevel')}">
                    </p>
                </div>
            </div>

            <div class="row g-3 mb-3">
                <div class="col-sm-6">
                    <label class="form-label" for="glycatedHemoglobin">Glycated Hemoglobin</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text">%</span>
                        <input aria-label="Glycated Hemoglobin" aria-labelledby="glycatedHemoglobinValidation"
                               aria-required="true" class="form-control" id="glycatedHemoglobin" min="0"
                               placeholder="e.g. 4.9" required th:errorclass="is-invalid"
                               th:field="${newGlucoseDto.glycatedHemoglobin}" type="number">
                    </div>
                    <p class="invalid-feedback" id="glycatedHemoglobinValidation"
                       th:errors="${newGlucoseDto.glycatedHemoglobin}"
                       th:if="${#fields.hasErrors('glycatedHemoglobin')}">
                    </p>
                </div>
                <div class="col-sm-6">
                    <label class="form-label" for="estimatedAverageGlucose">Estimated Average Glucose</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text">mg/dL</span>
                        <input aria-label="Estimated Average Glucose"
                               aria-labelledby="estimatedAverageGlucoseValidation" aria-required="true"
                               class="form-control" id="estimatedAverageGlucose" min="0" placeholder="e.g. 95" required
                               th:errorclass="is-invalid" th:field="${newGlucoseDto.estimatedAverageGlucose}"
                               type="number">
                    </div>
                    <p class="invalid-feedback" id="estimatedAverageGlucoseValidation"
                       th:errors="${newGlucoseDto.estimatedAverageGlucose}"
                       th:if="${#fields.hasErrors('estimatedAverageGlucose')}">
                    </p>
                </div>
            </div>

            <div class="mb-3 has-validation">
                <label class="form-label" for="reportDate">Report Date</label>
                <input aria-labelledby="reportDateValidation" aria-required="true" class="form-control" id="reportDate"
                       required th:errorclass="is-invalid" th:field="${newGlucoseDto.reportDate}" type="date">
                <p class="invalid-feedback" id="reportDateValidation"
                   th:errors="${newGlucoseDto.reportDate}"
                   th:if="${#fields.hasErrors('reportDate')}">
                </p>
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit">
                Save
            </button>
        </form>

    </body>
</html>