<!-- src/main/resources/templates/fragments/forms/new-blood-count-form.html -->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <form class="card-body" th:action="@{${userBaseUrl} + '/medical-history/blood-count/add'}"
              th:fragment="new-blood-count-form" th:method="post" th:object="${newCBCDto}">

            <div class="mb-3 row g-3">
                <!--HEMATOCRIT-->
                <div class="col-md-4 col-sm-6 has-validation">
                    <label class="form-label" for="hematocrit">Hematocrit</label>
                    <div class="input-group">
                        <span class="input-group-text">%</span>
                        <input aria-label="Hematocrit" aria-labelledby="hematocritValidation"
                               aria-required="true" class="form-control" id="hematocrit" min="0"
                               placeholder="e.g. 45" required th:errorclass="is-invalid"
                               th:field="${newCBCDto.hematocrit}" type="number">
                        <p class="invalid-feedback" id="hematocritValidation" th:errors="${newCBCDto.hematocrit}"
                           th:if="${#fields.hasErrors('hematocrit')}"></p>
                    </div>
                </div>

                <!--HEMOGLOBIN-->
                <div class="col-md-4 col-sm-6 has-validation">
                    <label class="form-label" for="hemoglobin">Hemoglobin</label>
                    <div class="input-group">
                        <span class="input-group-text">g/dL</span>
                        <input aria-label="Hemoglobin" aria-labelledby="hemoglobinValidation"
                               aria-required="true" class="form-control" id="hemoglobin" min="0"
                               placeholder="e.g. 15" required th:errorclass="is-invalid"
                               th:field="${newCBCDto.hemoglobin}" type="number">
                        <p class="invalid-feedback" id="hemoglobinValidation" th:errors="${newCBCDto.hemoglobin}"
                           th:if="${#fields.hasErrors('hemoglobin')}"></p>
                    </div>
                </div>

                <!--RED BLOOD CELLS-->
                <div class="col-md-4 col-sm-6 has-validation">
                    <label class="form-label text-nowrap" for="redBloodCells">Red Blood Cells</label>
                    <div class="input-group">
                        <span class="input-group-text">/mm<sup>3</sup></span>
                        <input aria-label="Red Blood Cells" aria-labelledby="redBloodCellsValidation"
                               aria-required="true" class="form-control" id="redBloodCells" min="0"
                               placeholder="e.g. 5.5" required th:errorclass="is-invalid"
                               th:field="${newCBCDto.redBloodCells}" type="number">
                        <p class="invalid-feedback" id="redBloodCellsValidation" th:errors="${newCBCDto.redBloodCells}"
                           th:if="${#fields.hasErrors('redBloodCells')}"></p>
                    </div>
                </div>

                <!--MCV-->
                <div class="col-md-4 col-sm-6 has-validation">
                    <label class="form-label" for="meanCorpuscularVolume">
                        <span data-bs-title="Mean Corpuscular Volume" data-bs-toggle="tooltip">MCV</span>
                    </label>
                    <div class="input-group">
                        <span class="input-group-text">fL</span>
                        <input aria-label="Mean Corpuscular Volume" aria-labelledby="meanCorpuscularVolumeValidation"
                               aria-required="true" class="form-control" id="meanCorpuscularVolume" min="0"
                               placeholder="e.g. 90" required th:errorclass="is-invalid"
                               th:field="${newCBCDto.meanCorpuscularVolume}" type="number">
                        <p class="invalid-feedback" id="meanCorpuscularVolumeValidation"
                           th:errors="${newCBCDto.meanCorpuscularVolume}"
                           th:if="${#fields.hasErrors('meanCorpuscularVolume')}"></p>
                    </div>
                </div>

                <!--MCH-->
                <div class="col-md-4 col-sm-6 has-validation">
                    <label class="form-label text-nowrap" for="meanCorpuscularHemoglobin">
                        <span data-bs-title="Mean Corpuscular Hemoglobin" data-bs-toggle="tooltip">MCH</span>
                    </label>
                    <div class="input-group">
                        <span class="input-group-text">pg</span>
                        <input aria-label="Mean Corpuscular Hemoglobin"
                               aria-labelledby="meanCorpuscularHemoglobinValidation"
                               aria-required="true" class="form-control" id="meanCorpuscularHemoglobin" min="0"
                               placeholder="e.g. 30" required th:errorclass="is-invalid"
                               th:field="${newCBCDto.meanCorpuscularHemoglobin}" type="number">
                        <p class="invalid-feedback" id="meanCorpuscularHemoglobinValidation"
                           th:errors="${newCBCDto.meanCorpuscularHemoglobin}"
                           th:if="${#fields.hasErrors('meanCorpuscularHemoglobin')}"></p>
                    </div>
                </div>

                <!--MCHC-->
                <div class="col-md-4 col-sm-6 has-validation">
                    <label class="form-label text-nowrap" for="meanCorpuscularHemoglobinConcentration">
                        <span data-bs-title="Mean Corpuscular Hemoglobin Concentration" data-bs-toggle="tooltip">
                            MCHC
                        </span>
                    </label>
                    <div class="input-group">
                        <span class="input-group-text">g/dL</span>
                        <input aria-label="Mean Corpuscular Hemoglobin Concentration"
                               aria-labelledby="meanCorpuscularHemoglobinConcentrationValidation"
                               aria-required="true" class="form-control" id="meanCorpuscularHemoglobinConcentration"
                               min="0" placeholder="e.g. 30" required th:errorclass="is-invalid"
                               th:field="${newCBCDto.meanCorpuscularHemoglobinConcentration}" type="number">
                        <p class="invalid-feedback" id="meanCorpuscularHemoglobinConcentrationValidation"
                           th:errors="${newCBCDto.meanCorpuscularHemoglobinConcentration}"
                           th:if="${#fields.hasErrors('meanCorpuscularHemoglobinConcentration')}"></p>
                    </div>
                </div>

                <!--RDW-->
                <div class="col-md-4 col-sm-6 has-validation">
                    <label class="form-label text-nowrap" for="redCellDistributionWidth">
                        <span data-bs-title="Red Cell Distribution Width" data-bs-toggle="tooltip">RDW</span>
                    </label>
                    <div class="input-group">
                        <span class="input-group-text">%</span>
                        <input aria-label="Red Cell Distribution Width (RDW)"
                               aria-labelledby="redCellDistributionWidthValidation"
                               aria-required="true" class="form-control" id="redCellDistributionWidth"
                               min="0" placeholder="e.g. 15" required th:errorclass="is-invalid"
                               th:field="${newCBCDto.redCellDistributionWidth}" type="number">
                        <p class="invalid-feedback" id="redCellDistributionWidthValidation"
                           th:errors="${newCBCDto.redCellDistributionWidth}"
                           th:if="${#fields.hasErrors('redCellDistributionWidth')}"></p>
                    </div>
                </div>

                <!--LEUKOCYTES-->
                <div class="col-md-4 col-sm-6 has-validation">
                    <label class="form-label text-nowrap" for="leukocytes">Leukocytes</label>
                    <div class="input-group">
                        <span class="input-group-text">/mm<sup>3</sup></span>
                        <input aria-label="Leukocytes" aria-labelledby="leukocytesValidation" aria-required="true"
                               class="form-control" id="leukocytes" min="0" placeholder="e.g. 1500" required
                               th:errorclass="is-invalid" th:field="${newCBCDto.leukocytes}" type="number">
                        <p class="invalid-feedback" id="leukocytesValidation" th:errors="${newCBCDto.leukocytes}"
                           th:if="${#fields.hasErrors('leukocytes')}"></p>
                    </div>
                </div>

                <!--ROD NEUTROPHILS-->
                <div class="col-md-4 col-sm-6 has-validation">
                    <label class="form-label text-nowrap" for="rodNeutrophils">Rod Neutrophils</label>
                    <div class="input-group">
                        <span class="input-group-text">/mm<sup>3</sup></span>
                        <input aria-label="Rod Neutrophils" aria-labelledby="rodNeutrophilsValidation"
                               aria-required="true" class="form-control" id="rodNeutrophils" min="0"
                               placeholder="e.g. 15" required th:errorclass="is-invalid"
                               th:field="${newCBCDto.rodNeutrophils}" type="number">
                        <p class="invalid-feedback" id="rodNeutrophilsValidation"
                           th:errors="${newCBCDto.rodNeutrophils}" th:if="${#fields.hasErrors('rodNeutrophils')}"></p>
                    </div>
                </div>

                <!--SEGMENTED NEUTROPHILS-->
                <div class="col-md-4 col-sm-6 has-validation">
                    <label class="form-label text-nowrap" for="segmentedNeutrophils"> Segmented Neutrophils </label>
                    <div class="input-group">
                        <span class="input-group-text">/mm<sup>3</sup></span>
                        <input aria-label="Segmented Neutrophils" aria-labelledby="segmentedNeutrophilsValidation"
                               aria-required="true" class="form-control" id="segmentedNeutrophils" min="0"
                               placeholder="e.g. 1700" required th:errorclass="is-invalid"
                               th:field="${newCBCDto.segmentedNeutrophils}" type="number">
                        <p class="invalid-feedback" id="segmentedNeutrophilsValidation"
                           th:errors="${newCBCDto.segmentedNeutrophils}"
                           th:if="${#fields.hasErrors('segmentedNeutrophils')}"></p>
                    </div>
                </div>

                <!--LYMPHOCYTES-->
                <div class="col-md-4 col-sm-6 has-validation">
                    <label class="form-label text-nowrap" for="lymphocytes">Lymphocytes</label>
                    <div class="input-group">
                        <span class="input-group-text">/mm<sup>3</sup></span>
                        <input aria-label="Lymphocytes" aria-labelledby="lymphocytesValidation" aria-required="true"
                               class="form-control" id="lymphocytes" min="0" placeholder="e.g. 900" required
                               th:errorclass="is-invalid" th:field="${newCBCDto.lymphocytes}" type="number">
                        <p class="invalid-feedback" id="lymphocytesValidation" th:errors="${newCBCDto.lymphocytes}"
                           th:if="${#fields.hasErrors('lymphocytes')}"></p>
                    </div>
                </div>

                <!--ATYPICAL LYMPHOCYTES-->
                <div class="col-md-4 col-sm-6 has-validation">
                    <label class="form-label text-nowrap" for="atypicalLymphocytes">Atypical Lymphocytes</label>
                    <div class="input-group">
                        <span class="input-group-text">/mm<sup>3</sup></span>
                        <input aria-label="Atypical Lymphocytes" aria-labelledby="atypicalLymphocytesValidation"
                               aria-required="true" class="form-control" id="atypicalLymphocytes" min="0"
                               placeholder="e.g. 15" required th:errorclass="is-invalid"
                               th:field="${newCBCDto.atypicalLymphocytes}" type="number">
                        <p class="invalid-feedback" id="atypicalLymphocytesValidation"
                           th:errors="${newCBCDto.atypicalLymphocytes}"
                           th:if="${#fields.hasErrors('atypicalLymphocytes')}"></p>
                    </div>
                </div>

                <!--MONOCYTES-->
                <div class="col-md-4 col-sm-6 has-validation">
                    <label class="form-label text-nowrap" for="monocytes">Monocytes</label>
                    <div class="input-group">
                        <span class="input-group-text">/mm<sup>3</sup></span>
                        <input aria-label="Monocytes" aria-labelledby="monocytesValidation" aria-required="true"
                               class="form-control" id="monocytes" min="0" placeholder="e.g. 900" required
                               th:errorclass="is-invalid" th:field="${newCBCDto.monocytes}" type="number">
                        <p class="invalid-feedback" id="monocytesValidation" th:errors="${newCBCDto.monocytes}"
                           th:if="${#fields.hasErrors('monocytes')}"></p>
                    </div>
                </div>

                <!--EOSINOPHILS-->
                <div class="col-md-4 col-sm-6 has-validation">
                    <label class="form-label text-nowrap" for="eosinophils">Eosinophils</label>
                    <div class="input-group">
                        <span class="input-group-text">/mm<sup>3</sup></span>
                        <input aria-label="Eosinophils" aria-labelledby="eosinophilsValidation" aria-required="true"
                               class="form-control" id="eosinophils" min="0" placeholder="e.g. 15" required
                               th:errorclass="is-invalid" th:field="${newCBCDto.eosinophils}" type="number">
                        <p class="invalid-feedback" id="eosinophilsValidation" th:errors="${newCBCDto.eosinophils}"
                           th:if="${#fields.hasErrors('eosinophils')}"></p>
                    </div>
                </div>

                <!--BASOPHILS-->
                <div class="col-md-4 col-sm-6 has-validation">
                    <label class="form-label text-nowrap" for="basophils">Basophils</label>
                    <div class="input-group">
                        <span class="input-group-text">/mm<sup>3</sup></span>
                        <input aria-label="Basophils" aria-labelledby="basophilsValidation" aria-required="true"
                               class="form-control" id="basophils" min="0" placeholder="e.g. 15" required
                               th:errorclass="is-invalid" th:field="${newCBCDto.basophils}" type="number">
                        <p class="invalid-feedback" id="basophilsValidation" th:errors="${newCBCDto.basophils}"
                           th:if="${#fields.hasErrors('basophils')}"></p>
                    </div>
                </div>

                <!--METAMYELOCYTES-->
                <div class="col-md-4 col-sm-6 has-validation">
                    <label class="form-label text-nowrap" for="metamyelocytes">Metamyelocytes</label>
                    <div class="input-group">
                        <span class="input-group-text">/mm<sup>3</sup></span>
                        <input aria-label="Metamyelocytes" aria-labelledby="metamyelocytesValidation"
                               aria-required="true" class="form-control" id="metamyelocytes" min="0"
                               placeholder="e.g. 15" required th:errorclass="is-invalid"
                               th:field="${newCBCDto.metamyelocytes}" type="number">
                        <p class="invalid-feedback" id="metamyelocytesValidation"
                           th:errors="${newCBCDto.metamyelocytes}" th:if="${#fields.hasErrors('metamyelocytes')}"></p>
                    </div>
                </div>

                <!--MYELOCYTES-->
                <div class="col-md-4 col-sm-6 has-validation">
                    <label class="form-label text-nowrap" for="myelocytes">Myelocytes</label>
                    <div class="input-group">
                        <span class="input-group-text">/mm<sup>3</sup></span>
                        <input aria-label="Myelocytes" aria-labelledby="myelocytesValidation"
                               aria-required="true" class="form-control" id="myelocytes" min="0"
                               placeholder="e.g. 15" required th:errorclass="is-invalid"
                               th:field="${newCBCDto.myelocytes}" type="number">
                        <p class="invalid-feedback" id="myelocytesValidation"
                           th:errors="${newCBCDto.myelocytes}" th:if="${#fields.hasErrors('myelocytes')}"></p>
                    </div>
                </div>

                <!--PROMYELOCYTES-->
                <div class="col-md-4 col-sm-6 has-validation">
                    <label class="form-label text-nowrap" for="promyelocytes">Promyelocytes</label>
                    <div class="input-group">
                        <span class="input-group-text">/mm<sup>3</sup></span>
                        <input aria-label="Promyelocytes" aria-labelledby="promyelocytesValidation"
                               aria-required="true" class="form-control" id="promyelocytes" min="0"
                               placeholder="e.g. 15" required th:errorclass="is-invalid"
                               th:field="${newCBCDto.promyelocytes}" type="number">
                        <p class="invalid-feedback" id="promyelocytesValidation"
                           th:errors="${newCBCDto.promyelocytes}" th:if="${#fields.hasErrors('promyelocytes')}"></p>
                    </div>
                </div>

                <!--ATYPICAL CELLS-->
                <div class="col-md-6 has-validation">
                    <label class="form-label text-nowrap" for="atypicalCells">Atypical Cells</label>
                    <div class="input-group">
                        <span class="input-group-text">/mm<sup>3</sup></span>
                        <input aria-label="Atypical Cells" aria-labelledby="atypicalCellsValidation"
                               aria-required="true" class="form-control" id="atypicalCells" min="0"
                               placeholder="e.g. 15" required th:errorclass="is-invalid"
                               th:field="${newCBCDto.atypicalCells}" type="number">
                        <p class="invalid-feedback" id="atypicalCellsValidation"
                           th:errors="${newCBCDto.atypicalCells}" th:if="${#fields.hasErrors('atypicalCells')}"></p>
                    </div>
                </div>

                <!--PLATELETS-->
                <div class="col-md-6 has-validation">
                    <label class="form-label text-nowrap" for="platelets">Platelets</label>
                    <div class="input-group">
                        <span class="input-group-text">/mm<sup>3</sup></span>
                        <input aria-label="Platelets" aria-labelledby="plateletsValidation"
                               aria-required="true" class="form-control" id="platelets" min="0"
                               placeholder="e.g. 150000" required th:errorclass="is-invalid"
                               th:field="${newCBCDto.platelets}" type="number">
                        <p class="invalid-feedback" id="plateletsValidation"
                           th:errors="${newCBCDto.platelets}" th:if="${#fields.hasErrors('platelets')}"></p>
                    </div>
                </div>
            </div>

            <div class="mb-3 has-validation">
                <label class="form-label" for="reportDate">Report Date</label>
                <input aria-labelledby="reportDateValidation" aria-required="true" class="form-control"
                       id="reportDate" required th:errorclass="is-invalid" th:field="${newCBCDto.reportDate}"
                       type="date">
                <p class="invalid-feedback" id="reportDateValidation" th:errors="${newCBCDto.reportDate}"
                   th:if="${#fields.hasErrors('reportDate')}"></p>
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit">Save</button>
        </form>
    </body>
</html>